<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="Db_Connection" connectionString="Data Source=PCPC\SQLEXPRESS;Initial Catalog=ProductionApp;Integrated Security=True;Trusted_Connection=True"/>
	</connectionStrings>

	<appSettings>
		<add key="FoodMsg" value="FOOD AVIALABLE" />
		
	</appSettings>
	
</configuration>
<!--<add name="DB_conncetion" connectionString="Data Source = DESKTOP-L16LSD5\\SQLEXPRESS;initial catalog =DB_BillingApp;user=sa;password=sa@123; integrated security=true;" providerName="System.Data.SqlClient"/>-->

